body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: blue;
}

ul li a:hover {
    text-decoration: underline;
}
